{{ if .IsNamedParams}}
<a href="{{ .Get "target" }}" style="overflow: hidden;">
<div class="w-48 h-56 p-2 my-4 text-center inline-block bg-orange-600" id="{{ .Get "id" }}">
<p class="font-black text-l text-white uppercase">{{ .Inner }}</p>

<div class="boxik w-48 h-56 pt-8 animPosition" style="position: relative; left: -8px; top: -24px; background-image: url({{ .Get "img"}}); background-repeat: no-repeat; background-size: 100%; background-position: bottom;  vertical-align: top; {{ with .Get "inlineCSS" }}{{ . | safeCSS }}{{ end }}"></div>
</div>
</a>
{{ end }}