{{ if .IsNamedParams }}
<a class="anchor" id="{{ .Get "id" }}"></a>
<div class="mt-4 text-left" style="width: 100%; background: rgba(100,100,100,0.3); {{ if isset .Params "red" }} background: rgba(120,0,0,0.1);{{ end }} padding: 20px; border-radius: 10px; text-align: justify;">

<img src="/images/historie/{{ .Get "id" }}.png" class="w-24 sm:w-40" style="float: left; margin-right: 20px;">
<span class="h1" style="font-size: 2rem; text-align: left; font-weight: 900;">{{ .Get "jmeno" }}</span> ({{ .Get "id" }})</i><br>

<b>Autor: {{ .Get "autor" }}</b>
<br><i>{{ .Get "heslo" }}</i><br><br>

{{ if isset .Params "kronika" }}
<a href="/images/historie/kroniky/Kadov_{{ .Get "id" }}.pdf" target=_blank noreferrer noopener><b>&#128214;&nbsp;Ukázka z kroniky</b></a>
{{ end }}

{{ if isset .Params "foto" }}
<a href="https://www.facebook.com/media/set/?set={{ .Get "foto" }}" target=_blank><b>&#128247;&nbsp;Fotky</b></a> 
{{ end }}

{{ if isset .Params "video" }}
<a href="/{{ .Get "video" }}" target=_blank><b>&#128249;&nbsp;Videa</b></a>
{{ end }}<br><br>

{{ .Inner }}

</div>
{{ end }}
