{{ if .IsNamedParams }}
<a class="anchor" id="{{ .Get "img" }}"></a>
<div class="mt-4 text-left" style="width: 100%; background: rgba(100,100,100,0.3); padding: 20px; border-radius: 10px;">

<img class="w-24 sm:w-32" src="/images/foto/{{ .Get "img" }}.png" style="float: left; margin-right: 20px;">
<span class="text-2xl sm:text-4xl" style="text-align: left; font-weight: 900;">{{ .Get "jmeno" }}</span><i> {{ .Get "prezdivka" }}</i><br>
<b>{{ .Get "prace" }}</b>
<br><i>{{ .Get "heslo" }}{{ if isset .Params "samurai" }}<a href="/images/samurai.jpg" data-lightbox="samurai" class="inline-block" style="color: white">samuraie</a>.{{ end }}</i><br><br>

{{ .Inner }}

</div>
{{ end }}
