<div id="lghtbox" onclick="closeLght()" class="animateLong" style="display: none; opacity: 0; position: fixed; width: 100%; height: 100%; top: 0px; left: 0px; background: rgba(0,0,0,0.5); z-index: 998;">


<div style="width: 100%; height: 0; padding-bottom: 45%; position: absolute; z-index: 999;">

<iframe class="animateLong" id="youtubevid" src="https://www.youtube.com/embed/LiYYevWRCWM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="position: absolute; width: 80%; height: 100%; left: 50%; top: 40px; transform: translate(-50%, 0); opacity: 0;"></iframe>
</div>


</div>
