<script>
myID = document.getElementById("upArrow");

var myScrollFunc = function() {
  var y = window.scrollY;
  if (y >= 1600) {
    upArrow.style.opacity = .8
  } else {
    upArrow.style.opacity = 0
  }
};

window.addEventListener("scroll", myScrollFunc);
</script>


<button id="upArrow" class="hidden xl:block p-2 bg-gray-500 text-white leading-tight" style="position: fixed; right: 0px; bottom: 20px; opacity: 0;" onclick="window.scrollTo(0, 0);">
▲<br>
Zpátky na začátek
</button>