{{ if .IsNamedParams}}
	
	{{ if isset .Params "external" }}
		<a class="animPosition" href="{{ .Get "target" }}" target="_blank" noreferrer noopener style="display: inline-block; width: 30%; margin: 0 0 .5em; vertical-align: top;">
	{{ else }}
	
	{{ if isset .Params "video" }}
	 <div class="animPosition" >
	 <div class="w-full text-center font-black bg-orange-600 py-1"><a>{{ .Get "popisek" }}</a></div>
	 <iframe src="https://www.youtube.com/embed/{{ .Get "video" }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width: 100%; height: 160px;"></iframe>
	 </div>
	{{ else }}
	
	<a class="animPosition" href="{{ .Get "target" }}" data-title="{{ .Get "popisek" }}" data-lightbox="{{ .Get "batch" }}" style="display: inline-block; width: 32%; margin: 0 .1em .5em; vertical-align: top;">


	
		<div class="w-full text-center font-black bg-gray-800 {{ with .Get "orange" }}bg-orange-600{{ end }} py-1 px-2">{{ with .Get "textOnly" }} ═══════════<br>{{ end }}{{ .Get "popisek" }}
		{{ with .Get "textOnly" }}<br>═══════════{{ end }}
		</div>	
			<img class="thumb" src="{{ .Get "img" }}" >
	</a>
	{{ end }}
	{{ end }}
{{ end }}




