<br><br><br><div style="text-align: center; min-height: 550px; vertical-align: top;">
        {{ range $index, $item := $.Page.Params.videos }}
            <button class="{{ if eq $index 0 }}bttn-selected{{ else }}bttn{{ end }}" onclick="loadYT({{$item.target}}, {{$item.id}})" id="{{$item.id}}">{{ $item.text }}</button>
        {{ end }}
    <br><br>

<iframe id="AnimaceYT" src="https://www.youtube.com/embed/{{(index $.Page.Params.videos 0).target}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width: 100%; height: 400px;"></iframe>

<p id="videoDescription" class="text-sm">
Animace hodinek pro <a href="http://muzemejepotrebovat.cz/" target="_blank">www.muzemejepotrebovat.cz</a>, video: <a href="http://www.janpirgl.net/" target="_blank">www.janpirgl.net</a>.
</p>

<br>