
<div id="{{ .Get "id" }}" class="mb-16 {{ with .Get "title" }} mt-16 sm:mt-32 {{ end }} mx-auto max-w-5xl pb-4 px-4 sm:px-8 text-white text-center">

	

				
				<div class="text-left font-black mt-4 text-4xl sm:text-6xl text-blue-100 leading-tight text-center">
					{{ .Get "title" }}
					<div class="text-xl mb-2">{{ .Get "subtitle" }}</div>
				</div>
				

			



