Něco jsi udělal špatně, tady nemáš co dělat.<br><br> 

<center>
<button onclick="goBack()">Jdi zpět</button>
<a href="https://tabor-kadov.cz/"><button >Nebo na hlavní stránku</button></a>
<script>
function goBack() {
  window.history.back();
}
</script>
</center>






 
