<!DOCTYPE html>
<html style="min-height: 100%">
    <head>
        {{- partial "head.html" . -}}
        <title>{{ .Params.title }}Letní tábor Kadov</title>
        {{ block "extraInlineCSS" . }}
        {{ end}}
        {{ block "extraJS" . }}
        {{ end }}
    </head>
    
	
	
	
<body class="text-lg p-0 m-0 bg-gray-900" style="background-image: url('https://img.itch.zone/aW1hZ2UvNTQzNDMyLzQ2MzE4ODkucG5n/original/h4FZ1%2F.png'); background-size: 100%;">

<div id="vignette"></div> 
<!-- NAVBAR -->
<div class="w-full block text-center p-4 text-white text-lg sm:text-2xl leading-tight" style="top: 0px; z-index: 99; opacity: 0.95">    
	<div class="opacity-100">
	<a href="/" class="px-2" style="color: white;">Tábor</a>
	<a href="/vedouci" class="p-2" style="color: white;">Vedoucí</a>
	<a href="/foto" class="p-2" style="color: white;">Foto</a>
	<a href="/historie" class="p-2" style="color: white;">Historie</a>
	<a href="/kontakt" class="p-2" style="color: white;">Kontakt</a>
	</div>

</div>
    

    {{- block "body" . }}
            {{- partial "header.html" . -}}
            {{- block "main" . }}{{ .Content }}{{- end }}
            {{- partial "footer.html" . -}}
        {{- end }}
    

      <!-- lightbox hookup -->
      <script src="/js/lightbox-plus-jquery.min.js"></script>
      <script>
      lightbox.option({
        wrapAround: true,
      })
      </script>
	
	</body>
</html>
