<!DOCTYPE html>
<html style="min-height: 100%;">
    <head>
        {{- partial "head.html" . -}}
        <title>{{ .Params.title }}Letní tábor Kadov</title>
        {{ block "extraInlineCSS" . }}
        {{ end}}
        {{ block "extraJS" . }}
        {{ end }}
    </head>
    
	
	
	
	<body class="text-lg p-0 m-0 bg-gray-800 text-white" style="overflow-y:scroll; background-image: url('https://www.adamruzicka.cz/tabor/drevo.jpg'); background-size: 100%;">

<div id="vignette"></div>    
<!-- NAVBAR -->
<div class="w-full block text-center p-2 text-white text-sm sm:text-2xl sm:leading-tight" style="top: 0px; z-index: 99; opacity: 0.95">    
	<div class="opacity-100">
	<a href="/" class="px-2">Tábor</a>
	<a href="/vedouci" class="px-2">Vedoucí</a>
	<a href="/foto" class="px-2">Foto</a>
	<a href="/historie" class="px-2">Historie</a>
	<a href="/kontakt" class="px-2">Kontakt</a>
	</div>
	<!-- | <a href="/celotaborovka" class="font-black p-2 text-sm uppercase mt-8">O celotáborové hře 2024</a> | -->
</div>

    {{- block "body" . }}
            {{- partial "header.html" . -}}
            {{- block "main" . }}{{- end }}
            {{- partial "footer.html" . -}}
        {{- end }}
    
      <!-- lightbox hookup -->
      <script src="/js/lightbox-plus-jquery.min.js"></script>
      <script>
      window.addEventListener('resize', function(event){
       document.getElementById("vignette").style.height = "100%";
       });
      
      
      lightbox.option({
        wrapAround: true,
      })
      </script>
	
	</body>
</html>
